<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑设备 | GeekLink用户中心</title>
    <link type="text/css" rel="stylesheet" href="/css/jquery.tagsinput.css"/>
    <link type="text/css" rel="stylesheet" href="/css/framework.css"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div class="page">
    <!--header begin-->
    <header>
        <div class="bigcontainer">
            <div id="logo">
                <a href="./">管理首页</a>
            </div>
            <div class="user">
                <div class="ui compact notif menu">
                    <a class="item" href="notifications.html">
                        <i class="mail large icon"></i>
                        <span class="circular floating ui small red label"> 2 </span>
                    </a>
                </div>
                <div class="ui inline labeled icon top right pointing dropdown">
                    <img class="ui avatar image" src="/images/avatar-default.gif">
                    欢迎，$用户名
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="index.html"><i class="reply mail icon"></i>返回首页</a>
                        <a class="item" href="login.html"><i class="sign out icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- the main menu-->
    <div class="ui teal inverted menu">
        <div class="bigcontainer">
            <div class="right menu">
                <a class="item" href="./index.html"><i class="home icon"></i>管理首页</a>
                <a class="item" href="./devices_list.html"><i class="sitemap icon"></i>设备</a>
                <!--<a class="item" href="./product_list.html"><i class="cloud icon"></i>产品</a>-->
                <a class="active item" href="./user_profile.html"><i class="info icon"></i>账户</a>
            </div>
        </div>
    </div>
    <!--the main content begin-->
    <div class="container">
        <!--the content-->
        <div class="ui grid">
            <!--the vertical menu-->
            <div class="four wide column">
                <div class="verticalMenu">
                    <div class="ui vertical pointing menu fluid">
                        <a class="item" href="./add.html">
                            <i class="add icon"></i> 绑定新设备
                        </a>
                        <a class="active teal item" href="devices_list.html">
                            <i class="settings icon"></i> 我的设备
                        </a>
                        <a class="item" href="actions.html">
                            <i class="terminal icon"></i> 设备动作
                        </a>
                    </div>
                </div>
            </div>
            <!--the newDevice form-->
            <div class="twelve wide column">
                <div class="pageHeader">
                    <div class="segment">
                        <h3 class="ui dividing header">
                            <i class="large edit icon"></i>
                            <div class="content">
                                编辑设备
                                <div class="sub header">将您的设备连接到云端</div>
                            </div>
                        </h3>
                    </div>
                </div>
                <div class="ui form fluid vertical segment">
                    <form name="form" action="devices_list.html" method="post">
                        <div class="two fields">
                            <div class="field">
                                <label>设备名</label>
                                <div class="ui small left labeled icon input">
                                    <input type="text" placeholder="给您的设备起个名,您容易记住就行，30个字符内……" id="device_title"
                                           name="device_title" value=""/>
                                    <i class="sitemap icon"></i>
                                </div>
                            </div>
                            <div class="field"></div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>描述</label>
                                <textarea placeholder="不超过30个字符……"></textarea>
                            </div>
                            <div class="diy field">
                                <label>标签（tags）</label>
                                <input type="text" id="device_tags" name="device_tags"/>
                            </div>
                        </div>
                        <div class="diy field">
                            <label>地理位置名称</label>
                            <div class="ui dropdown selection">
                                <input type="hidden" name="gender" value="1">
                                <div class="default text">南通</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item active" data-value="南通">南通</div>
                                    <div class="item" data-value="上海">上海</div>
                                </div>
                            </div>
                        </div>
                        <div class="diy field" id="location">
                            <div class="ui two column grid">
                                <div class="column">
                                    <label>地理位置数据
                                        <small>&nbsp;&nbsp;（双击地图选择您设备的位置）</small>
                                    </label>
                                </div>
                                <div class="column">
                                    <div class="two fields">
                                        <div class="field" style="margin-bottom:0;">
                                            <input type="text" id="device_lng" name="device_lng" readonly="readonly">
                                        </div>
                                        <div class="field" style="margin-bottom:0;">
                                            <input type="text" id="device_lat" name="device_lat" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--make a div for google map-->
                            <div id="locmap" class="locmap">地图加载中...</div>
                        </div>
                        <div class="field">
                            <label>放置场地</label>
                            <div class="ui dropdown selection">
                                <input type="hidden" name="gender" value="1">
                                <div class="default text">室内</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item active" data-value="室内" value="0">室内</div>
                                    <div class="item" data-value="室外" value="1">室外</div>
                                </div>
                            </div>
                        </div>

                        <div class="two fields">
                            <div class="field">
                                <label>设备地址</label>
                                <div class="ui small left labeled icon input">
                                    <input type="text" placeholder="如http://www.geeklink.net/devices/5905"
                                           id="device_title" name="device_title" value=""/>
                                    <i class="sitemap icon"></i>
                                </div>
                            </div>
                            <div class="field"></div>
                        </div>

                        <div class="two fields">
                            <div class="field">
                                <label>API地址</label>
                                <div class="ui small left labeled icon input">
                                    <input type="text" placeholder="如http://www.geeklink.net/devices/5905"
                                           id="device_title" name="device_title" value=""/>
                                    <i class="sitemap icon"></i>
                                </div>
                            </div>
                            <div class="field"></div>
                        </div>


                        <div class="field">
                            <input type="radio" id="publicstatus" name="availability" value="1" checked="checked"><span
                                style="font-size:14px">公开</span>
                            <input type="radio" id="privtatestatus" name="availability" value="0"><span
                                style="font-size:14px">不公开</span>
                        </div>

                        <input class="ui small blue submit button" type="submit" value="保存">
                        <input class="ui small basic button" type="reset" value="取消">
                    </form>
                    <!--the form end-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer begin-->
<footer>
    <div id="copyrights">
        <div class="inset">
            <div class="bigcontainer">
                <div class="fl">
                    <div class="logo"></div>
                    <p>&copy; 2020 南通极客信息技术有限公司, 版权所有<br/>
                        <a href="http://www.boode.com.cn" target="_blank">苏ICP备13024285号</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/framework.js"></script>
<script type="text/javascript" src="/javascript/user_new_devices.js"></script>
<script type="text/javascript"
        src="http://ditu.google.cn/maps/api/js?key=AIzaSyC7a2MMoG2nkxwY6bmxjoULoiz2YTp43iI&sensor=false&language=cn"></script>
<script type="text/javascript" src="/javascript/jquery.tagsinput.js"></script>
<script>
    $('#device_tags').tagsInput();
</script>
</body>
</html>
